body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

.logo-link-black {
  color: #2e2f42;
}

.logo-link-white {
  color: #f4f4fd;
}

/*--------------------------- HEADER ------------------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.header-list-item {
  margin-top: 24px;
  margin-bottom: 24px;
}

.header-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-list-link:hover {
  color: #404bbf;
}

.header-list-link:active {
  color: #404bbf;
}

.header-list-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;

}

.header-address-item {
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:hover {
  color: #404bbf;
}

.header-address-link:active {
  color: #404bbf;
}

.header-address-link:focus {
  color: #404bbf;
}

/*--------------------------- HEADER-END ------------------------*/

/*--------------------------- MAIN-SECTION (1) ------------------------*/
.main-section {
  background-color: #2e2f42;
  height: 600px;
  padding: 188px 0;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.main-title-btn {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
}
.main-title-btn:hover {
  background-color: #404bbf;
}

.main-title-btn:focus {
  background-color: #404bbf;
}

/*--------------------------- MAIN-SECTION (1) END ------------------------*/

/*--------------------------- ADVANTAGES SECTION (2) ------------------------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  display: flex;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list-item {
  width: calc((100% - 3 * 24px) / 4);
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  margin-bottom: 8px;
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*--------------------------- ADVANTAGES SECTION (2) END ------------------------*/

/*--------------------------- TEAM SECTION (3) ------------------------*/
.team {
  background-color: #f4f4fd;
}

.team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-div {
  margin-top: 32px;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
}

.team-list-item {
  background-color: #ffffff;
  width:calc((100% - 3 * 24px) / 4);
}

.team-list-img {
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/*--------------------------- TEAM SECTION (3) END ------------------------*/

/*--------------------------- PORTFOLIO SECTION (4) ------------------------*/

.portfolio {
  display: flex;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-div {
  border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
}

.portfolio-list-item {
}

.portfolio-list-img {
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  margin-bottom: 8px;
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*--------------------------- PORTFOLIO SECTION (4) END ------------------------*/

/*--------------------------- FOOTER ------------------------*/

.footer {
  background-color: #2e2f42;
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
}

/*--------------------------- FOOTER END ------------------------*/
