body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

.logo-link-black {
  color: #2e2f42;
}

.logo-link-white {
  color: #f4f4fd;
}

/*--------------------------- HEADER ------------------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-list-item {
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  content: "";
  border-radius: 2px;
  height: 4px;
  background-color: #404bbf;
  left: 0;
  bottom: -1px;
  width: 100%;
}

.header-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-hover {
  fill: #404bbf;
}

.header-list-link:hover {
  color: #404bbf;
}

.header-list-link:active {
  color: #404bbf;
}

.header-list-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-item {
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover {
  color: #404bbf;
}

.header-address-link:active {
  color: #404bbf;
}

.header-address-link:focus {
  color: #404bbf;
}

/*--------------------------- HEADER-END ------------------------*/

/*--------------------------- MAIN-SECTION (1) ------------------------*/
.main-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/head/pploffice.jpg);
  background-size: cover;
  height: 600px;
  padding: 188px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.main-title-btn {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-title-btn:hover {
  background-color: #404bbf;
}

.main-title-btn:focus {
  background-color: #404bbf;
}

/*--------------------------- MAIN-SECTION (1) END ------------------------*/

/*--------------------------- ADVANTAGES SECTION (2) ------------------------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list-item {
  width: calc((100% - 3 * 24px) / 4);
}

.svg-advantages {
  width: 64px;
  height: 64px;
}

.svg-advantages-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*--------------------------- ADVANTAGES SECTION (2) END ------------------------*/

/*--------------------------- TEAM SECTION (3) ------------------------*/
.team {
  background-color: #f4f4fd;
}

.team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-div {
  padding: 32px 0;
}

.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
  0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-img {
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon {
  fill: #f4f4fd;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-item:hover .team-soc-link,
.team-soc-item:active .team-soc-link,
.team-soc-item:focus .team-soc-link {
  background-color: #404bbf;
}

/*--------------------------- TEAM SECTION (3) END ------------------------*/

/*--------------------------- PORTFOLIO SECTION (4) ------------------------*/

.portfolio {
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-div {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}


.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #4d5ae5;
  width: 360px;
  height: 300px;
  padding: 40px 32px;
}

.portfolio-list-item:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.portfolio-list-img {
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*--------------------------- PORTFOLIO SECTION (4) END ------------------------*/

/*--------------------------- FOOTER ------------------------*/

.footer {
  background-color: #2e2f42;
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-promo {
  display: block;
  margin-right: 120px;
}

.footer-text {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-div {
  display: flex;
  align-items: baseline;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-soc {
  margin-left: 120px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-cos-item {
}

.footer-soc-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:active,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-soc-icon {
  fill: #f4f4fd;
}

/*--------------------------- FOOTER END ------------------------*/
